<div class="content">
  <div class="form-register">
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <label class="d-block">
          <input nbInput type="text" class="form-control" placeholder="exemplo@domain.com" formControlName="email">
          <app-control-messages [control]="f['email']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <label for="inputEmail">Telefone</label>
        <label class="d-block">
          <input nbInput type="text" class="form-control" placeholder="+55(11)999999999"  formControlName="cellphone">
          <app-control-messages [control]="f['cellphone']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <label for="inputEmail">Senha</label>
        <label class="d-block">
          <input nbInput type="password" class="form-control" placeholder="*******" formControlName="password">
          <app-control-messages [control]="f['password']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <button nbButton status="info" type="submit">Registo</button>
      </div>
    </form>
  </div>
</div>

