<div class="container status-container">
  <div class="title">
    Status
  </div>
  <!-- <div>
    <nb-card style="background: #19208e">
      <nb-card-body>
        <div style="color: white;font-size: 30px;font-weight: bold;margin-top: 10px;margin-bottom: 10px;">
          Bem-vindo de volta Juan Mauricio!
        </div>
        <div style="color: #777BBD;font-size: 16px;margin-bottom: 10px;">
          No momento não encontramos qualquer tipo de gestão de documentação afiliada à sua conta,
          acesso no primeiro processo de documentação a 40%.
        </div>
        <div style="color: white;font-weight: normal;">
          Criar documentação <nb-icon icon="arrow-forward-outline" routerLink="/dashboard/documentation"></nb-icon>
        </div>
      </nb-card-body>
    </nb-card>
    <div style="text-align: center;width: 100%;height: 100%;">
      <img style="height: 300px;" src="../../../../../assets/img/image_alert.png">
    </div>
  </div> -->
  <div>
    <nb-card style="background: #F5F6FA;font-weight: bold;">
      <nb-card-body>
        <div class="row">
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Total
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Status
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Cliente
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Data
          </div>
          <div class="col-sm-4"  style="text-align: center;margin: auto;">
            Método de pagamento
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            ‎R$ 100.00
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            <button nbButton outline status="warning">Pendiente</button>
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Juan Alejandro Mauricio Aguirre
          </div>
          <div class="col-sm-2"  style="text-align: center;margin: auto;">
            Abril 10, 2020
          </div>
          <div class="col-sm-4" style="text-align: center;margin: auto;">
            <div class="row">
              <div class="col-sm-6" style="text-align:center;margin: auto;">
                Visa 5432
              </div>
              <div class="col-sm-6">
                <button nbButton status="primary">Abrir Detalhe</button>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>